{% load i18n %}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block head %}
        <title>{% block title %}Base template{% endblock %}</title>
    {% endblock %}

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    {% block stylesheet %}{% endblock %}
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'orders:index' %}">AccSales</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
            <!-- Authentication -->
            <ul class="nav justify-content ml-auto">
                {% if user.is_authenticated %}
                    <a href="{% url 'messenger:dialogs' %}">
{#                        <svg width="50" height="50" viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">#}
{#                            <path d="M24 21h-24v-18h24v18zm-23-16.477v15.477h22v-15.477l-10.999 10-11.001-10zm21.089-.523h-20.176l10.088 9.171 10.088-9.171z"/></svg>#}
                        <button type="button" class="btn btn-primary">
                            {% trans "Сообщения" %} <span class="badge badge-light">{{unread_messages_count}}</span>
                            <span class="sr-only">unread messages</span>
                        </button>
                    </a>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" style="text-decoration: none;">
                            <b class="nav-item caret">{{ user.username }}</b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'profiles:profile' user.get_username %}">{% trans "Личные данные" %}</a></li>
                            <li><a class="nav-link" href="{% url 'profiles:logout' %}">{% trans "Выход" %}</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'profiles:login' %}">{% trans "Вход" %}</a></li>
                {% endif %}
            </ul>
        </div>
    </nav> <!-- End navbar -->

    <div class="container">{% block content %}<!-- Content here -->{% endblock content %}</div>

    {#  Messages  #}
    {% if messages %}
        <div class="row justify-content-center" id="system-message">
            <div class="col-sm-6">
                <ul class="help-list">
                    {% for message in messages %}
                        {% if message.level_tag == 'info' %}
                            <div class="alert alert-warning" role="alert">
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                                    <strong>{{ message }}</strong>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                </button>
                                </li>
                            </div>
                        {% elif message.level_tag == 'success'%}
                            <div class="alert alert-success" role="alert">
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                                    <strong>{{ message }}</strong>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </li>
                            </div>
                        {% elif message.level_tag == 'error' %}
                            <div class="alert alert-danger" role="alert">
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                                    <strong>{{ message }}</strong>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </li>
                            </div>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    {% block javascript %}{% endblock %}
</body>
</html>