{% extends 'base/base.html' %}

{% load i18n %}

{% block title %}{% trans "Редактирование данных профиля"%}{% endblock %}

{%  block content %}
    <div class="row justify-content-center" id="registration-form">
        <div class="col-sm-5">
            <form action="{% url 'profiles:profile-edit' %}" method="post" novalidate>
                {% csrf_token %}

                <div class="page-header">
                    <h2>{% trans "Редактирование аккаунта."%}</h2>
                </div>

                {% include 'base/form.html' %}
                <button type="submit" class="btn btn-success">{% trans "Применить"%}</button>
                <a class="btn btn-secondary" href="{% url 'profiles:profile'  user.get_username %}" role="button">{% trans "Отмена" %}</a>
            </form>
        </div>
    </div>
{% endblock %}