{% extends 'base/base.html' %}

{% block title %}Вход.{% endblock %}

{% block content %}
    <div class="row justify-content-center" id="login-form">
        <div class="col-sm-4">
            <form action="{% url 'profiles:login' %}" method="post" novalidate>
                {% if request.GET.next %}
                    <input type="hidden" name="next" value="{{ request.GET.next }}" />
                {% endif %}

                <div class="page-header">
                    <h2>Вход</h2>
                </div>

                {% csrf_token %}
                {% include 'base/form.html' %}
                <button type="submit" class="btn btn-success">Войти</button>
                <a class="btn btn-secondary" href="{% url 'profiles:register' %}" role="button">Регистрация</a>
            </form>
        </div>
    </div>
{% endblock %}