{% extends 'home/base.html' %}

{#{% load gravatar %}#}
{% load i18n %}

{% block title %}{% trans "Данные профиля."%}{% endblock %}

{% block content %}
    <div class="row" id="user-detail">
        <div class="col-sm-5" id="avatar">
{#            {% gravatar user_data.email 250 %}#}
        </div>
        <div class="col-md-7">
            <div id="profile-header">
                <h2>{{ user_data.username }}</h2>
            </div>
            <ul id="user-detail-list">
                {% if user_data.first_name or user_data.last_name %}
                    <li>
                        {{ user_data.get_full_name }}
                    </li>
                {% endif %}
                <li>
                    {{ user_data.email }}
                </li>
                <li>
                    {% trans "Профиль зарегестрирован:" %} {{ user_data.date_joined }}
                </li>
                <li>
                    {% trans "Дата последнего входа:" %} {{ user_data.last_login }}
                </li>
                <li>
                    {% if user.is_authenticated and user.username == user_data.username %}
                        <a class="btn btn-primary" href="{% url 'profiles:edit_profile' %}" role="button">{% trans "Редактирование профиля" %}</a>
                    {% endif %}
                </li>
                <li>
                    <a class="btn btn-warning" data-toggle="modal" data-target="#NewDialogModal">{% trans "Личное сообщение" %}</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- Modal create message form -->
    <div class="modal fade" id="NewDialogModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-xl" role="document" aria-labelledby="NewDialogModalLabel" aria-hidden="true">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{% trans "Новое сообщение" %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="CreateDialogForm" action="{% url 'messenger:create_dialog' user_data.id %}" method="post" novalidate>
                        {% csrf_token %}
                        {% include 'home/form.html' %}

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Отмена" %}</button>
                            <button type="submit" class="btn btn-primary">{% trans "Отправить" %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="NewDialogSuccessModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document" aria-labelledby="NewDialogSuccessModalLabel" aria-hidden="true">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <p>{% trans "Сообщение отправлено."%}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
{# Submit new dialog modal form and catch status response #}
    <script>
        $(document).on('submit', '#CreateDialogForm', function(event)
        {
            event.preventDefault();

            var url=$(this).attr('action');
            $.ajax({
                url: url,
                type: 'POST',
                dataType: 'JSON',
                data: new FormData(this),
                processData: false,
                contentType: false,
                success: function (data, status)
                {
                    if(data.successful_submit){
                        $('#NewDialogModal').modal('hide');
                        $('#NewDialogSuccessModal').modal('show');
                    }
                },
                {# TODO: Show field validation error in form #}
                error: function (xhr, status, error)
                {
                    var response = xhr.responseText;
                    var json = $.parseJSON(response);
                    alert(json.form_errors.title)
                    }
            });
        });
    </script>
{% endblock %}