{% extends 'home/base.html' %}

{% load i18n %}
{% load gravatar %}

{% block title %}{% trans "Данные профиля."%}{% endblock %}

{% block content %}
    <div class="row" id="user-detail">
        <div class="col-sm-5" id="avatar">
            {% gravatar user_data.email 250 %}
        </div>
        <div class="col-md-7">
            <div id="profile-header">
                <h2>{{ user_data.username }}</h2>
            </div>
            <ul id="user-detail-list">
                {% if user_data.first_name or user_data.last_name %}
                    <li>
                        {{ user_data.get_full_name }}
                    </li>
                {% endif %}
                <li>
                    {{ user_data.email }}
                </li>
                <li>
                    {% trans "Профиль зарегестрирован:" %} {{ user_data.date_joined }}
                </li>
                <li>
                    {% trans "Дата последнего входа:" %} {{ user_data.last_login }}
                </li>
                <li>
                    {% if user.is_authenticated and user.username == user_data.username %}
                        <a class="btn btn-primary" href="{% url 'profiles:edit_profile' %}" role="button">{% trans "Редактирование профиля" %}</a>
                    {% endif %}
                </li>
                <li>
                    <a class="btn btn-warning" data-toggle="modal" data-target="#NewDialogModal">{% trans "Личное сообщение" %}</a>
                </li>
            </ul>
        </div>
    </div>
{#    Message modal form for new message #}
    {% include 'messenger/new_dialog.html' %}

{% endblock %}

{% block javascript %}
{# Submit new dialog modal form and catch status response #}
    <script>
        $(document).on('submit', '#CreateDialogForm', function(event)
        {
            event.preventDefault();

            var url=$(this).attr('action');
            $.ajax({
                url: url,
                type: 'POST',
                dataType: 'JSON',
                data: new FormData(this),
                processData: false,
                contentType: false,
                success: function (data, status)
                {
                    if(data.successful_submit){
                        $('#NewDialogModal').modal('hide');
                        $('#NewDialogSuccessModal').modal('show');
                    }
                },
                {# TODO: Show field validation error in form #}
                error: function (xhr, status, error)
                {
                    {# TODO: show errors not depend on concrete field #}
                    var response = xhr.responseText;
                    var json = $.parseJSON(response);
                    alert(json.form_errors.title)
                    }
            });
        });
    </script>
{% endblock %}