{% extends 'home/base.html' %}

{% block title %}Регистрация.{% endblock %}

{% block content %}
    <div class="row justify-content-center" id="registration-form">
        <div class="col-sm-5">
            <form action="{% url 'profiles:register' %}" method="post" novalidate>
                {% csrf_token %}

                <div class="page-header">
                    <h2>Регистрация</h2>
                </div>

                {% include 'home/form.html' %}
                <button type="submit" class="btn btn-success">Создать аккаунт</button>
            </form>
        </div>
    </div>
{% endblock %}