{% extends 'home/base.html' %}

{% load tz %}
{% load i18n %}
{% load humanize %}
{% load messenger_extras %}

{% block title %}{% trans "Диалоги." %}{% endblock %}

{% block content %}

    <div class="row justify-content-center">
        <div class="col-lg">
            {% if dialogs.count == 0 %}
            <h3>{% trans "Нет ни одного начатого диалога." %}</h3>
            {% else %}
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">{% trans "Тема" %}</th>
                            <th scope="col">{% trans "Пользователь" %}</th>
                            <th scope="col">{% trans "Дата" %}</th>
                        </tr>
                    </thead>
                    {% for dialog in dialogs %}
                        {% if dialog.message_set.count != 0 %}
                            {% with last_message=dialog.message_set.last %}
                                {% get_companion user dialog as companion %}
                                    <tbody>
                                        <tr>
                                            <th scope="row">{{forloop.counter}}</th>
                                            <td>
                                                <a href="{{ dialog.get_absolute_url }}">
{#                                                    TODO: Check if is_read work #}
                                                    {% if companion == last_message.author and not last_message.is_read %}
                                                        <b>{{ dialog.title }}</b>
                                                    {% else %}
                                                        {{ dialog.title }}
                                                    {% endif %}
                                                </a>
                                            </td>
                                            <td>
                                                <a href="{% url 'profiles:profile' last_message.author.username %}">{{ last_message.author }}</a>
                                            </td>
                                            <td>{{ last_message.created|naturaltime }}</td>
                                        </tr>
                                        </tbody>
                            {% endwith %}
                        {% endif %}
                    {% endfor %}
                </table>
            {% endif %}
        </div>
    </div>

{% endblock %}