{% extends 'home/base.html' %}

{% load messenger_extras %}
{% load tz %}
{% load i18n %}

{% block title %}Сообщения.{% endblock %}

{% block content %}
    {% if not chat %}
        <div class="panel panel-body">
            {% trans "Невозможно начать беседу. Не найден пользователь или вы не имеете доступа к данной беседе." %}
        </div>
    {% else %}
        {% if chat %}
            <div id="messages" class="panel">
                <div id="innerMessages">
                    {% for message in chat.message_set.all %}
                        {% include 'messenger/message.html' with message_item=message %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        <div class="row justify-content-center" id="message-form">
            <div class="col-sm-5">
                <form action="{% url 'messenger:messages' chat.pk %}" method="post" novalidate>
                    {% csrf_token %}

                    <div class="page-header">
                        <h2>Messages</h2>
                    </div>

                    {% include 'home/form.html' %}
                    <button type="submit" class="btn btn-success">{% trans "Отправить" %}</button>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}