{% extends 'home/base.html' %}

{% block title %}Главная страница.{% endblock %}

{% block content %}
    <div class="text-center">
        <h1>Главная страница.</h1>
    </div>

    <div class="row col-12">
        {% if orders %}
            {% for order in orders %}
                <div class="col-6">
                    <div class="card mb-3" style="max-width: 555px;">
                      <div class="row no-gutters">
                        <div class="col-md-4">
                          <img src="{{ order.game.image.url }}" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <h5 class="card-title">{{ order.game.name }}</h5>
                            <button type="button" class="btn btn-primary">П1</button>
                            <button type="button" class="btn btn-secondary">П2</button>
                            <button type="button" class="btn btn-secondary">П3</button>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <!-- Pagination -->
    {% if orders.has_other_pages %}
        <nav aria-label="Search results pages">
            <ul class="pagination">
                {% if  orders.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ orders.previous_page_number }}">previous</a>
                    </li>
                {% endif %}

                {% for i in orders.paginator.page_range %}
                    {% if orders.number == i %}
                        <li class="page-item active">
                            <a class="page-link" href="#">{{ i }}<span class="sr-only">(current)</span></a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endfor %}

                {% if orders.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ orders.next_page_number }}">next</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}

{% endblock %}